@import "tailwindcss";

:root {
  --primary: #000000;
  --secondary: #f3f3f3;
  --background: #ffffff;
  --text: #6d6d6d;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-sans: var(--font-plus-jakarta-sans);
  --font-phenomena: var(--font-phenomena);
  /* Define colors for the dots */
  --pink-600: #db2777;
  --blue-600: #2563eb;
  --green-600: #16a34a;
  --orange-600: #ea580c;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-text: var(--text);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-plus-jakarta-sans);
  margin: 0;
  padding: 0;
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

/* Custom classes for dot colors */
.dot-pink-600 {
  background-color: var(--pink-600);
}

.dot-blue-600 {
  background-color: var(--blue-600);
}

.dot-green-600 {
  background-color: var(--green-600);
}

.dot-orange-600 {
  background-color: var(--orange-600);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
.delay-150 {
  animation-delay: 150ms;
}
